* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #DEDEDE;
}

button {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 400px;
  margin: 100px auto 0;
  text-align: center;
  background-color: #fff;
  padding: 20px 0 30px;
  border-radius: 10px;
}

.welcome-title {
  width: 330px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #e5e5e5;
}

.todos {
  margin-bottom: 20px;
}

.todos__count {
  margin-top: 15px;
}

.addNewTodoBtn {
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #72DBE7;
}